.tag {
    position: absolute;
    top: -1%;
    right: 10%;
}
.top-brands h2,.newproducts-w3agile h3,.login h2,.register h2,.faq-w3agile h3,.brands h3{
	text-align:center;
	color:#212121;
	padding-bottom:.5em;
	position:relative;
	font-size: 2.5em;
	text-transform: uppercase;
}
.top-brands h2:after,.newproducts-w3agile h3:after,.login h2:after,.register h2:after,.faq-w3agile h3:after,.brands h3:after{
	content: '';
    background: #3399cc;
    height: 2px;
    width: 15%;
    position: absolute;
    bottom: 0%;
    left: 43%;
}
.agile_top_brand_left_grid{
	background: #FFFFFF;
    padding: .5em;
	position:relative;
}
.agile_top_brand_left_grid_pos{
	position:absolute;
	top:0%;
	right:0%;
}
.agile_top_brand_left_grid1{
	padding:1em;
}
.agile_top_brand_left_grid1 img{
	margin:0 auto;
}
.top-brands{
    background: #f5f5f5;
	padding:5em 0;
}
.agile_top_brand_left_grid1 p{
	color:#212121;
	margin:1.5em 0 1em;
	line-height:1.5em;
	text-transform:capitalize;
	font-size:14px;
	text-align: center;
}
.agile_top_brand_left_grid1 h4,.agileinfo_single_right_snipcart h4{
	font-weight:600;
	font-size:1em;
	color:#212121;
	text-align: center;
}
.agile_top_brand_left_grid1 h4 span,.agileinfo_single_right_snipcart h4 span{
	font-weight:300;
	text-decoration:line-through;
	padding-left:1em;
}